/* colorset:
        #CECECE - lightgrey
        #FCF5ED - cream
        #FC6736 - orange
        #0C2D57 - navy
*/

*{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    /* overflow-y: hidden; */

    color: #0C2D57;
    background-color: #FCF5ED;
    font-family: 'Montserrat';
    font-size: 15px;
}
nav{
    display: grid;
}
nav .container{
    position: fixed;
    display: grid;
    /* grid-template-columns: min-content auto; */
    align-content: center;
    height: 50px;
    width: 100%;
    padding: 20px 50px;
    z-index: 99999;
    box-sizing: border-box;
    
    border-bottom: 2px dashed #0C2D57;
    background-color: #FCF5ED;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
nav .container a{
    /* font-weight: bold; */
    width: fit-content;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #0C2D57;
}
main h1.title{
    margin-top: 75px;
    margin-bottom: 25px;
    
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
main .container{
    display: grid;
    width: 100%;
    /* padding: 0px 100px; */
    padding: 0px 50px;
    box-sizing: border-box;
    justify-self: center;
    grid-gap: 15px;
    
    /* border: 1px solid red; */
}
main .container .p_card {
    display: grid;
    grid-template-areas: 'kiri kanan';
    min-height: 275px;
    min-width: 1000px;
    padding: 25px;
    box-sizing: border-box;

    border-bottom: 0.1px dashed #0c2c5733;
    /* border: 1px solid blue; */
}
main .container .p_card:nth-child(odd) {
    grid-template-columns: 275px auto;
    justify-self: start;

    animation: appearOdd 1s linear;
    animation-timeline: view();
    animation-range: entry;
}
main .container .p_card:nth-child(even) {
    grid-template-columns: auto 275px;
    justify-self: end;
    column-gap: 25px;

    animation: appearEven 1s linear;
    animation-timeline: view();
    animation-range: entry;
}
main .container .p_card:nth-child(even) .pc_view{
    grid-area: kanan;
}
main .container .p_card .pc_view{
    /* grid-area: kanan; */
    position: relative;
    height: 200px;
    width: 250px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;

    border-radius: 10px;
    border: 3px solid #CECECE;

    transition: all 0.3s;
}
main .container .p_card .pc_view img{
    height: 100%;
    width: 100%;
}
main .container .p_card .pc_view p{
    position: relative;
    top: -202px;
    left: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 205px;
    width: 255px;
    opacity: 0;

    background: rgba(12, 45, 87, 0.8);
    color: #FC6736;
    font-size: 0.8em;
    border: 1px solid blue;

    transition: all 0.5s;
}
main .container .p_card:nth-child(even) .pc_description{
    justify-self: end;
    /* border: 1px solid blue; */
}
main .container .p_card .pc_description h2.title{
    margin-top: 5px;
    margin-bottom: 10px;

    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
}
main .container .p_card .pc_description p{
    margin-bottom: 50px;
    text-align: justify;

    line-height: 20px;
}
main .container .p_card .pc_description a{
    color: #0C2D57;

    text-decoration: none;
    font-style: italic;
}
main .container .popUp_img{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    z-index: 99999;

    background: #000000EE;

    transition: all 1s;
}
main .container .popUp_img img{
    max-width: 80vw;
    max-height: 80vh;
    box-sizing: border-box;
    overflow: hidden;
    object-fit: fill;

    border: 3px solid #CECECE;
    border-radius: 10px;
}
main .container .popUp_img span{
    position: fixed;
    top: 25px;
    right: 25px;
    padding: 10px;
    cursor: pointer;

    color: #FFFFFF;
    font-size: 2em;
    font-weight: bold;

    transition: all 0.3s;
}